<!doctype html>
<html>
	<head>
		<title>Anime</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Shadows+Into+Light&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/app.css">
	</head>
<body>
	<div class="fixed ui inverted menu">
		<div class="ui container">
			<div class="header item logo">
				<i class="firefox icon"></i><span class="beat">Anime</span>
			</div>
				<div class="right menu">
					<a href="/" class="item">Home</a>
					<a href="/signIn" class="item">SignIn</a>
					<a href="/signUp" class="item">SignUp</a>
					<a href="/blogs/new" class="item">New Blog</a>
					<a href="/logout" class="item">Logout</a>	
				</div>
		</div>
		
	</div>
