<%- include("partials/header.ejs") %>
<div class="ui main text container">
<h1>SignUp here</h1>
<form class="ui form" method="POST" action="/save">

    <div class="field">
        <input type="text" placeholder="userName" name="userName" required>
    </div>
    <div class="field">
        <input type="email" placeholder="email" name="email" required>
    </div>
    <div class="field">
        <input type="password" placeholder="password" name="password" required>
    </div>
    <div class="field">
        <button class="ui violet big basic button">Submit</button>
    </div>
</form>
</div>
<%- include("partials/footer.ejs") %>